<form action="/create-task" method="POST">
    <div>
        <label for="task">DESCRIPTION</label><br>
        <input type="text" name="task"  id="task" placeholder="What do you need to do?" required>
    </div>
    <hr>
    <div>
        <div>
            <label for="category">CATEGORY</label><br>
            <select id="category" name="category">
              <option value="None" selected hidden>Choose a Category</option>
              <option value="Personal">Personal</option>
              <option value="Work">Work</option>
              <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <label for="due_date" required>DUE DATE</label><br>
            <input type="date" id="due_date" name="due_date">
        </div>
    </div>
    <hr>
    <button type="submit">Add Task</button>
    <button type="button">
        <a href="/delete-all">

            Delete Tasks
        </a>
    </button>
</form>