<ul>
                   
    <% for (let i of todo_list) { %>
        <hr>
        <div class="task"> 
            <li>
                <div class="part1">
                    <span class="task">
                        <input type="checkbox" name="box" id="i._id">
                        <label for="i._id">
                            <%= i.task %>
                        </label>
                    </span>
                    <% if (i.category != "None") { %>
                     
                        <span class="<%=i.category%>">
                            <%= i.category %>
                        </span>
                    <% } %>
                </div>
                <div class="date"><%= i.due_date %> </div>
            </li>
        </div>
    <% } %>
</ul>