<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>TODO App</h1>
        <hr>
        <div>
            <%- include('_form') %>
        </div>
        
        <div>
        <%- include('_list') %>
        </div>
    </body>
</html>